/* src/App.css */
body.light-theme {
  --header-bg: #ffffff;
  --popup-bg: #f9f9f9;
  --text-color: #111;
  background: #fff;
}

body.dark-theme {
  --header-bg: #222;
  --popup-bg: #333;
  --text-color: #fff;
  background: #000;
}

.main-container {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
